<div class="detalji">
    <div class="film-container card">
        <div class="card-body">
            <div><h4 class="card-title" >{{film.ime}}</h4></div><br>
            <div class="card-text">Reziser: {{film.reziser}}</div>
            <div class="card-text">Zanr: {{film.zanr}}</div>
        </div>
    </div>

    <div class="prikaz-container">
        <h3>Prikazi za film {{film.ime}}</h3>
        <div *ngIf="prikazi.length == 0"><h5>Trenutno nema prikaza za ovaj film</h5></div>
        <div *ngFor="let prikaz of prikazi">
            <div class="prikaz card card-body">{{prikaz.vreme}}</div>
        </div>
    </div>
</div>